*{
    padding: 0;
    margin: 0;
  }
  
  .container {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .nav li {
    float: right;
    list-style: none;
  }
  
  .nav a {
    list-style: none;
    border-radius: 15px;
    
    font-size: 1rem;
    font-weight: 550;
    display: block;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    transition: background-color 0.8s,color 0.8s;
  }
  .nav a:hover{
    
    background-color: #808080;
  }
  
  .content {
    width: 100%;
    position: absolute;
    top: 45%;
  }
  
  .left-col {
    margin-left: 11%;
  }
  
  .left-col h1 {
    font-size: 50px;
    color: crimson;
  }
  
  .right-col {
    float: right;
    margin-right: 10%;
    margin-top: -5%;
    display: flex;
    align-items: center;
  }
  
  .right-col p {
    font-size: 21px;
    color: black;
    font-weight: 650;
    margin-right: 20px;
  }
  
  #icon {
      cursor:pointer;
      width: 40px; 
  }